#login-title {
	margin-top: 150px;
	text-align:center;
}

#sub-title {
	text-align:center;
}

#register-tab {
	margin-left: 30%;
	margin-bottom: 0px;
}

#login-tab {
	margin-bottom: 0px;
}

#login-link {
	border: 0px;
}

#register-link {
	border: 0px;
}

#register-group {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#register-group input {
	border-radius: 0px;
}

#register-group button {
	border-radius: 0px;
	width: 100%;
	margin-top: 10px;
}

#login-group {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#login-group input {
	border-radius: 0px;
}

#login-group button {
	border-radius: 0px;
	width: 100%;
	margin-top: 10px;
}

#chatpanel {
	height: 500px;
	background-color: #BDC0BA;
	overflow:auto;
}

#message-panel {
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

div.popover {
	border-radius: 0px;
}

div.popover.right {
	margin-left: 3%;
	display: block;
	position: relative;
	word-break: break-word;
}

div.popover.left {
	float: right;
	margin-right: 3%;
	display: block;
	position: relative;
	word-break: break-word;
	min-width: 272px;
}

div.row.message {
	margin-top: 3px;
}