<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/static/css/main.css"></link>
</head>
<body>
<div class="container-fluid">
	<div class="row">
	    <div class="container-fluid" id="title">
	    	<div class="navbar navbar-inverse navbar-fixed-top" id="navheader">
	    		<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">
							<img src="./static/img/title.jpg" style="height:25px" alt="Brand"></img>
						</a>
					</div>
					<div class="navbar-collapse collapse" role="navigation">
						<ul class="nav navbar-nav">
				    		<li><a href="#">Home</a></li>
				    		<li><a href="#">Profile</a></li>
				    		<li><a href="#">Message</a></li>
				    	</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Dropdown</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">down 
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
								</ul>
							</li>
						</ul>
					</div>
	    		</div>
	    	</div>	
	    </div>
	</div>
    <div class="row" id="pageheader">
    	<div class="page-header">
    		<h1>用户组管理<small>开发组</small></h1>
    	</div>
    </div>
    <div class="row" id="usergroup">
        <div class="panel panel-default">
            <div class="panel-heading">开发组</div>
            <div class="panel-body">
                <h2 style="float:left">开发组成员组成</h2>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="adduser">增加用户</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aira-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-lable="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-header" id="myModalLabel">Add User</h4>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>UserName</th>
                        <th>JoinedTime</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Wangmeng</td>
                        <td>2016-8-1</td>
                        <td>Creator</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Wangmeng</td>
                        <td>2016-8-1</td>
                        <td>Creator</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Wangmeng</td>
                        <td>2016-8-1</td>
                        <td>Creator</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<footer>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</footer>
</html>