<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" ></meta>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/static/css/main.css"></link>
</head>
<body>
<div class="container-fluid">
	<div class="row">
	    <div class="container-fluid" id="title">
	    	<div class="navbar navbar-inverse navbar-fixed-top" id="navheader">
	    		<div class="container">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">
							<img src="./static/img/title.jpg" style="height:25px" alt="Brand"></img>
						</a>
					</div>
					<div class="navbar-collapse collapse" role="navigation">
						<ul class="nav navbar-nav">
				    		<li><a href="#">Home</a></li>
				    		<li><a href="#">Profile</a></li>
				    		<li><a href="#">Message</a></li>
				    	</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Dropdown</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">down 
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">1</a></li>
								</ul>
							</li>
						</ul>
					</div>
	    		</div>
	    	</div>	
	    </div>
	</div>
    <div class="row" id="pageheader">
    	<div class="page-header">
    		<h1>用户管理模块<small>科研开发室</small></h1>
    	</div>
    </div>
    <div class="row" id="grouppanel">
    	<div class="panel panel-default">
    		<div class="panel-heading">所属分组</div>
    		<div class="panel-body">
    			<div class="row">
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/scenery-2.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/scenery-1.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/scenery-3.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="row" id="taskpanel">
    	<div class="panel panel-default">
    		<div class="panel-heading">我的任务</div>
    		<div class="panel-body">
    			<div class="row">
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/avatar/Fruit-2.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/avatar/Fruit-1.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    				<div class="groupitem">
    					<div class="thumbnail">
    						<img src="./static/img/avatar/Fruit-3.png" alt=""></img>
    						<div class="caption">
    							<h3>Group1</h3>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
</body>
<footer>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</footer>
</html>