<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Student Enrollment Form</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
</head>

<body>

    <div class="container-fluid">
        <div class="col-md-offset-2 col-md-5">
            <h1>Enrollment Form</h1>
            <form method="POST" class="form-horizontal" th:action="@{/}" th:object="${student}">
                <div class="row" style="margin-top:5px;margin-bottom:5px">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">First Name</span>
                        <input type="text" th:field="*{firstName}"  class="form-control" aria-describedby="basic-addon1"/>
                    </div>
                    <div class="has-error">
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
                    </div>
                </div>
                <div class="row" style="margin-top:5px;margin-bottom:5px">
                    <div class="input-group">
                        <span class="input-group-addon">Last Name</span>
                        <input type="text" th:field="*{lastName}"  class="form-control" aria-describedby="basic-addon1"/>
                    </div>
                    <div class="has-error">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit" value="Register" class="btn btn-primary btn-sm"></input>
                    </div>
                </div>
            </form>
        </div>  
    </div>
</body>
</html>