<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Map</title>
    <script type="text/javascript" src="http://api.tianditu.com/js/maps.js"></script>
    <script>
	    var map,control;
	    var zoom = 12;
	    function onLoad()
	    {
	        //初始化地图对象
	        map=new TMap("mapDiv");
	        //设置显示地图的中心点和级别
	        map.centerAndZoom(new TLngLat(116.40969,39.89945),zoom);

	        var config = {
	            type:"TMAP_NAVIGATION_CONTROL_LARGE",   //缩放平移的显示类型
	            anchor:"TMAP_ANCHOR_TOP_LEFT",          //缩放平移控件显示的位置
	            offset:[0,0],                           //缩放平移控件的偏移值
	            showZoomInfo:true                       //是否显示级别提示信息，true表示显示，false表示隐藏。
	        };
	        //创建缩放平移控件对象
	        control=new TNavigationControl(config);
	        //添加缩放平移控件
	        map.addControl(control);
	    }
	    function addNavControl()
	    {
	        map.removeControl(control);
	        //获得缩放平移控件的样式
	        var selectNavCss = document.getElementById("selectnavcss");
	        var index = selectNavCss.selectedIndex;
	        var controlCss = selectNavCss.options[index].value;
	        //获得缩放平移控件的位置
	        var selectNavPosition = document.getElementById("selectnavposition");
	        var index = selectNavPosition.selectedIndex;
	        var controlPosition = selectNavPosition.options[index].value;
	        //添加缩放平移控件
	        var config = {
	            type:controlCss,        //缩放平移控件的显示类型
	            anchor:controlPosition  //缩放平移控件显示的位置
	        };
	        control = new TNavigationControl(config);
	        map.addControl(control);
	    }
    </script>
</head>
<body onLoad="onLoad()">
    <div id="mapDiv" style="position:absolute;width:500px; height:400px"></div>
</body>
</html>